<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'CuentaBancaria/style.css' %}?v=6">
    <title>Restablecer Contraseña</title>
</head>
<body>
    <header>
        <h1>Restablecer Contraseña</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Volver</a></li>
                <li><a href="{% url 'register' %}">Registrarse</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section>
            <h2>Restablecer Contraseña</h2>
            <form method="POST">
                {% csrf_token %}
                <label>Ingresa tu correo electrónico:</label>
                {{ form.email }}
                <button type="submit">Enviar enlace</button>
            </form>
        </section>
    </main>
    
    <footer>
        <p>&copy; 2025 ThomBank. Todos los derechos reservados.</p>
    </footer>
</body>
</html>